node_modules/
.expo/
dist/
web-build/
.jsc/
.npm/
*.log
.DS_Store

# MacOS
._*

# Windows
Thumbs.db
ehthumbs.db

# Expo
.expo-shared/
assets/

# Misc
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
